/*http://webcodingeasy.com/Webdesign/Display-simple-CSS-star-rating*/

.rating_bar {
    width: 80px;
    height: 16px;
    background: url(http://webcodingeasy.com/images/stars.png);
    background-repeat: repeat-x;
    background-position: 0 0;
}
.rating {
    height: 16px;
    background: url(http://webcodingeasy.com/images/stars.png);
    background-position: 0 -16px;
    background-repeat: repeat-x;
}
.center-div {
    margin: 0 auto;
}