<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Movie'r'us</title>
</head>
<body>
    <h1>Welcome to the movie website</h1>
    <p>The top 20 movies rated. This list of movies should have their average rating,
        and each movie listed should have a link to its individual page.</p>
    <hr>
    <h2>Here are the Top 20 movies</h2>
    <p>top 20?: {{ top_20 }}</p>
</body>
</html>