<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{ movie.movie_title }}</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>{{ movie.movie_title }}</h1>
            <a class="btn btn-primary" href="{{ movie.imdb_url }}" role="button">Visit IMDB for more information.</a>
        </div>
        <p>Each individual movie. This page should have the movie, its average rating, and each person who rated it. The list of people should have the rating with each person and should have a link to that person's page.</p>
        <ul class="list-unstyled">
            <li>Release date: {{ movie.release_date }}</li>
            <li></li>
            <li>Genre: {{ movie.action }}</li>
            <!-- for field in movie, if value == 1 then display-->
            <li>Rating: {{ movie }}</li>
        </ul>
        <p>Do you want to rate this move?</p>
    </div>
</body>
</html>